#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

section {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

button {
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    margin: 10px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
}

#hitStand{
    position: fixed;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 3;
}

button:hover {
    background-color:  #9b2c2c;
}

button:disabled {
    background-color: #bdc3c7;
}

#dealerTable,
#playerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}

aside {
    font-size: 18px;
    margin-left: 10px;
    color: yellow;
}

#deck{
    position: relative;
    top: -330px;
    right: -800px;
}

#tableFlip {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#dealerTable{
    position: relative;
    top: -20px;
}

#playerTable{
    position: relative;
    bottom: -110px;
}

#dealerScore{
    position: relative;
    text-align: center;
    padding: 0%;
}

img{
    position: static;
    padding: 10px;
}